* {
  /* width: 100vh; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

:root {
  --width-list: 10%;
}

.flex {
  display: flex !important;
}

.derecho {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
  z-index: 5;
  width: 20%;
  height: 390px;
  border-radius: 12px;
  background: #fafafa;
  transition: all 0.3s ease-in-out;
  overflow-y: scroll;
}

.derecho ul {
  width: 100%;
  height: 100%;
}

.derecho ul li {
  padding: 10px;
  width: 100%;
  height: calc(10%);
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: inherit;
  list-style: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.derecho ul li:first-child {
  border-top: none;
}

.derecho ul li:last-child {
  border-bottom: none;
}

.derecho ul li:hover {
  background-color: #cfcbcb;
}
